[submodule "src/main/code/client/js/submodules/data_pipeline"]
	path = src/main/code/client/js/submodules/data_pipeline
	url = https://github.com/Oskasb/client_worker_data_pipeline
[submodule "src/main/code/client/js/submodules/canvas_gui_3d"]
	path = src/main/code/client/js/submodules/canvas_gui_3d
	url = https://github.com/Oskasb/canvas_gui_3d
[submodule "src/main/code/client/js/submodules/environment"]
	path = src/main/code/client/js/submodules/environment
	url = https://github.com/Oskasb/environment.git
[submodule "src/main/code/client/js/submodules/terrain"]
	path = src/main/code/client/js/submodules/terrain
	url = https://github.com/Oskasb/terrain.git
[submodule "src/main/code/client/js/submodules/particle_system"]
	path = src/main/code/client/js/submodules/particle_system
	url = https://github.com/Oskasb/particle_system.git
